.pip-content-container .scrolled {
    overflow-y: auto;
}

@media (min-width: 769px) {
    .pip-content-container {
        max-width: calc(100% - 300px) !important;
    }
}

pre {
    border-radius: 4px;
}

.flat {
    box-shadow: none !important;
}

.markdown-sample-list.pip-menu {
    width: auto !important;
    position: relative;
}


table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}