<h2 class="text-title tm0 bm24">Mocks for Get And Started:</h2>
<div> 

    <h3>Node</h3>
    <md-button class="md-raised md-primary"
            ng-click="onNodesGET()">
        Get Nodes
    </md-button>

    <md-button class="md-raised md-primary"
            ng-click="onNodeGET()">
        Get one Node
    </md-button>

    <md-button class="md-raised md-primary"
            ng-click="onNodePUT()">
        Put Node
    </md-button>

    <md-button class="md-raised md-primary"
            ng-click="onNodeEventsGET()">
        Get Node Events 
    </md-button>

</div>
<div> 

    <h3>Events</h3>

    <md-button class="md-raised md-primary"
            ng-click="onEventsGET()">
        Get All Events
    </md-button>

    <md-button class="md-raised md-primary"
            ng-click="onEventGET()">
        Get one Event
    </md-button>

</div>