<h2 class="text-title tm0 bm24">Mocks {{:: 'SAMPLE' | translate }}:</h2>
<div> 

    <h3>Entry</h3>
    <md-button class="md-raised md-primary"
            ng-click="onSignIn()">
        SignIn
    </md-button>

    <md-button class="md-raised md-primary"
            ng-click="onSignOut()">
        SignOut
    </md-button>

    <md-button class="md-raised md-primary"
            ng-click="onSignUp()">
        SignUp
    </md-button>

    <md-button class="md-raised md-primary"
            ng-click="onSignupValidate()">
        SignupValidate
    </md-button>

    <md-button class="md-raised md-primary"
            ng-click="onVerifyEmail()">
        VerifyEmail
    </md-button>
    
    <md-button class="md-raised md-primary"
            ng-click="onRecoverPassword()">
        RecoverPassword
    </md-button>

    <md-button class="md-raised md-primary"
            ng-click="onResetPassword()">
        ResetPassword
    </md-button>
    
    <md-button class="md-raised md-primary"
            ng-click="onChangePassword()">
        ChangePassword
    </md-button>    
</div>

<div>
    <h3>Users</h3>
    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onUserPOST($event)">
            {{ 'POST /api/users' }}
    </md-button>

    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onUsersGET($event)">
            {{ 'GET /api/users' }}
    </md-button>

    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onUserGET($event)">
            {{ 'GET /api/users/:id' }}
    </md-button>

    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onUserPUT($event)">
            {{ 'PUT /api/users/:id' }}
    </md-button>

    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onUserDELETE($event)">
            {{ 'DELETE /api/users/:id' }}
    </md-button>

    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onCurrentUserGET($event)">
            {{ 'GET /api/users/current' }}
    </md-button>
<div>

<div>
    <h3>Sessions</h3>
    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onUserSessionsGET($event)">
            {{ 'GET USERS SESSIONS' }}
    </md-button>

    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onUserSessionDELETE($event)">
            {{ 'DELETE USER SESSION' }}
    </md-button>
<div>    

<div>
    <h3>Parties</h3>
    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onPartiesGET($event)">
            {{ 'GET PARTIES ' }}
    </md-button>

    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onPartyGET($event)">
            {{ 'GET PARTY' }}
    </md-button>

    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onPartyPOST($event)">
            {{ 'POST PARTY' }}
    </md-button>

    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onPartyPUT($event)">
            {{ 'PUT PARTY' }}
    </md-button>

    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onPartyDELETE($event)">
            {{ 'DELETE PARTY' }}
    </md-button>            
<div>    

<div>
    <h3>Settings</h3>
    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onPartiesSettingsGET($event)">
            {{ 'GET PARTIES SETTINGS' }}
    </md-button>

    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onPartiesSettingsPOST($event)">
            {{ 'POST PARTIES SETTINGS' }}
    </md-button>
<div>    

<div>
    <h3>Feedbacks</h3>
    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onFeedbacksGET($event)">
            {{ 'GET FEEDBACKS ' }}
    </md-button>

    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onFeedbackGET($event)">
            {{ 'GET FEEDBACK' }}
    </md-button>

    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onFeedbackPOST($event)">
            {{ 'POST FEEDBACK' }}
    </md-button>

    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onFeedbackPUT($event)">
            {{ 'PUT FEEDBACK' }}
    </md-button>

    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onFeedbackDELETE($event)">
            {{ 'DELETE FEEDBACK' }}
    </md-button>            
<div>  

<div>
    <h3>Files and Avatars</h3>
    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onAvatarGET($event)">
            {{ 'GET AVATAR PARTY' }}
    </md-button>

    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onAvatarDELETE($event)">
            {{ 'DELETE AVATAR PARTY' }}
    </md-button>

    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onAvatarPOST($event)">
            {{ 'POST AVATAR PARTY' }}
    </md-button>    

    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onAvatarRecordGET($event)">
            {{ 'GET AVATAR RECORD' }}
    </md-button>

    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onAvatarRecordDELETE($event)">
            {{ 'DELETE AVATAR RECORD' }}
    </md-button>

    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onAvatarRecordPOST($event)">
            {{ 'POST AVATAR RECORD' }}
    </md-button> 

    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onFileGET($event)">
            {{ 'GET FILE' }}
    </md-button>

    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onFileObjectGET($event)">
            {{ 'GET FILE OBJECT' }}
    </md-button>

    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onFileDELETE($event)">
            {{ 'DELETE FILE' }}
    </md-button>

    <md-button class="lm0 md-raised md-accent flat" 
            ng-click="onFilePOST($event)">
            {{ 'POST FILE' }}
    </md-button>      
<div>          

